<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>header</title>
  
  <link rel="stylesheet" href="css.css" type="text/css">
</head><body>
<img class="header" id="logo" alt="Logo" src="../images/logo.png"><br>

<br>

<p class="header" id="menu"><img style="width: 70px; height: 30px;" alt="Home" src="../images/nav_home.png">&nbsp; <img style="width: 70px; height: 30px;" alt="List" src="../images/nav_list.png">&nbsp; <img style="width: 70px; height: 30px;" alt="Home" src="../images/nav_map.png"><br>
</p>

<p id="seperate">&nbsp;</p>
</body></html>